.Content {
    display: flex;
    flex-direction: row;
    &__Div-mot {
        &--Size {
            width: 150px;
            height: 150px;
        }
        &--Background-color {
            background-color: red;
        }
        &--Order {
            order: 1;
        }
    }
    &__Div-hai {
        &--Size {
            width: 150px;
            height: 150px;
        }
        &--Background-color {
            background-color: blue;
        }
        &--Order {
            order: 2;
        }
    }
    &__Div-ba {
        &--Size {
            width: 150px;
            height: 150px;
        }
        &--Background-color {
            background-color: green;
        }
        &--Order {
            order: 3;
        }
    }
}